/* Tamaño de pantalla: Desktop */
@media (min-width: 1024px) {
  :root {
    --scroll-amount: 515px;
  }
}

/* Tamaño de pantalla: Notebook */
@media (max-width: 1023px) and (min-width: 768px) {
  :root {
    --scroll-amount: 410px;
  }
}

/* Tamaño de pantalla: Mobile */
@media (max-width: 767px) {
  :root {
    --scroll-amount: 290px;
  }
}

::-webkit-scrollbar {
  width: 10px !important;
  background-color: transparent !important;
}

/* Estilos para el thumb (el control deslizante) */
::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 4px;
}

/* Estilos cuando se pasa el mouse sobre la scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px !important;
  background-color: transparent;
}

.scroll-smooth {
  scroll-behavior: smooth;
}
